body {
  margin: 0;
  font-family: Arial;
  background: #0a0a0a;
  color: white;
}

header {
  text-align: center;
  padding: 70px 20px;
  background: #111;
  border-bottom: 3px solid red;
}

h1 {
  color: red;
}

.panel {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #151515;
  border-left: 4px solid red;
}

button {
  margin: 5px;
  padding: 10px;
  background: black;
  color: white;
  border: 1px solid red;
  cursor: pointer;
}